// -------------------------------------
//    variables
// -------------------------------------



// -- max-page-width -------------------

	@mixin page-width{
		max-width: 1037px;
		margin: 0 auto;
	}

// -- document font declarations -------

	$doc-font-size: 16;
	$doc-line-height: 24;

// -- branding -------------------------

	$base-color: #b0cd5e;
	$comp-color: #487959;
	$tertiary-color: red;
	$alt-1: #777777;
	$alt-2: #CCCCCC;
	$white: #FFFFFF;
	$black: #000000;
	$lightGrey: #f3f5e5;

// -- typography -----------------------

	$body-font: Georgia, serif;
	$header-font: $body-font;

// -- links ----------------------------

	$link-color: red;
	$link-color-hover: darken($link-color, 10);
	$link-color-visited: $link-color-hover;
	$link-color-focus: darken($link-color-hover, 10);

// -- errors & info --------------------

	$success-color: #5CB85C;
	$info-color: #5BC0DE;
	$warning-color: #F0AD4E;
	$danger-color: #D9534F;

// -- labels, copy-classes, alerts -----

	$default-color: #999999;
	$muted-color: #F3F3F3;
	$primary-color: #428BCA;

// --- selection colours ---------------

	$selection: $link-color;
	$selection-text: #FFF;

// -- button colors --------------------

	$button-color: $white;
	$button-bg-color: $base-color;

// -- Border Radius --------------------

	$radius-sml: 4px;
	$radius-med: 8px;
	$radius-lrg: 12px;

// -- Media Queries --------------------

$tiny           :  320;
$smaller        :  480;
$small          :  600;
$medium         :  760;
$regular        :  900;
$large          : 1100;
$extra-large    : 1300;

// -- flow -----------------------------

	// To enable support for browsers that do not support @media queries,
	// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
	// Create a separate stylesheet served exclusively to these browsers,
	// meaning @media queries will be rasterized, relying on the cascade itself
	$mq-responsive: true;

	// Name your breakpoints in a way that creates a ubiquitous language
	// across team members. It will improve communication between
	// stakeholders, designers, developers, and testers.
	$mq-breakpoints: (
	    mobile:  320px,
	    tablet:  740px,
	    tabletPortrait:  768px,
	    desktop: 980px,
	    tensixty: 1060px,
	    eleventhirty: 1130px,
	    wide:    1300px,
	    desktopAd: 810px,
	    mobileLandscape: 480px
	);

	// Define the breakpoint from the $mq-breakpoints list that should
	// be used as the target width when outputting a static stylesheet
	// (i.e. when $mq-responsive is set to 'false').
	$mq-static-breakpoint: desktop;

	// If you want to display the currently active breakpoint in the top
	// right corner of your site during development, add the breakpoints
	// to this list, ordered by width, e.g. (mobile, tablet, desktop).
	$mq-show-breakpoints: (mobile, mobileLandscape, tablet, tabletPortrait, desktop, tensixty, eleventhirty, wide);

// -- flow -----------------------------

@import "partials/layout/mq";
