
.text-muted {
	color: $muted-color;
}

.text-primary {
	color: $primary-color;
}

.text-success {
	color: $success-color;
}

.text-info {
	color: $info-color;
}

.text-warning {
	color: $warning-color;
}

.text-danger {
	color: $danger-color;
}
