.prose {
	h1 {
		font-family: $header-font;
	}
	h2 {
		font-family: $header-font;
	}
	h3 {
		font-family: $header-font;
	}
	h4 {
		font-family: $header-font;
	}
	h5 {
		font-family: $header-font;
	}
	h6 {
		font-family: $header-font;
	}
	p {
		font-family: $body-font;
	}
	a {
		font-family: $body-font;
	}
	li {
		font-family: $body-font;
	}
}