* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------------------*/

// Change the grid settings
$column: 67px;
$gutter: 36px;
$grid-columns: 12;
$max-width: 1200px;
$min-width: 1200px;

$grid-namespace: "grid";
$grid-column-namespace: "g-";
$grid-width: $max-width;

//generate our grid classes
@for $i from 1 through $grid-columns {
 .#{$grid-column-namespace}#{$i} {
  @include fill-parent;
  margin: 0;

    @include mq($from: tablet) {
      @include span-columns($i);
    }
  }
}

//generate our push classes
@for $i from 1 through $grid-columns {
 .p-#{$i} {
  @include shift(0);

    @include mq($from: tablet) {
      @include shift($i);
    }
  }
}

//generate our grid container with media queries, cos I'm swarve as.
.#{$grid-namespace} {
  @include clearfix;
}

.wrap {
  max-width: $grid-width;
  margin: 0 auto;
  @include clearfix;
}
