* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  max-width: 1037px;
  margin: 0 auto;
  // padding: 20px;
}

/*---------------------------------------------------*/

// Change the grid settings
$column: 66px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1037px;
$min-width: 1037px;

$grid-namespace: "grid";
$grid-column-namespace: "g-";

//generate our grid classes
@for $i from 1 through $grid-columns {
 .#{$grid-column-namespace}#{$i} {
  @include span-columns($i);
    @include mq($to: tablet) {
      @include fill-parent;
      margin: 0;
    }
  }
}

//generate our push classes
@for $i from 1 through $grid-columns {
 .p-#{$i} {
  @include shift($i);
    @include mq($to: desktop) {
      @include shift(0);
    }
  }
}

//generate our grid container with media queries, cos I'm swarve as.
.#{$grid-namespace} {
  @include clearfix;
}