// -------------------------------------
//   beuticons
// -------------------------------------


// beautons is a beautifully simple button toolkit.
//
// Copyright 2013 Harry Roberts



// - BASE -----------------------------

@import 'compass';

@mixin btn{
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap;
	font-family:inherit;
	font-size:100%;
	cursor:pointer;
	border:none;
	margin:0;
	background-color: $button-bg-color;
	color: $button-color;
	border-radius:4px;
	overflow:visible;
	text-decoration: none;
	&:hover, &:active, &:focus, &:visited {
		text-decoration: none;
	}
	&:hover{
		box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	}
	&:active, &:focus {
		outline:none;
		box-shadow:0 0 5px rgba(0, 0, 0, 0.5) inset;
	}
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
@mixin btn-norm {
	line-height:3;
	height: 3em;
	padding: 0 1em;
}

// - SIZES ----------------------------

@mixin btn--small{
	padding: 0 0.5em;
	line-height:2;
	height:     2em;
}

@mixin btn--large{
	padding: 0 1.5em;
	line-height:4;
	height:     4em;
}

@mixin btn--huge{
	padding: 0 2em;
	line-height:5;
	height:     5em;
}

@mixin btn--full{
	width:100%;
	padding-right:0;
	padding-left: 0;
	text-align:center;
}

// - FONT SIZES -----------------------

@mixin btn--alpha{
	font-size:3rem;
}

@mixin btn--beta{
	font-size:2rem;
}

@mixin btn--gamma{
	font-size:1rem;
}


@mixin btn--natural{
	vertical-align:baseline;
	font-size:inherit;
	line-height:inherit;
	height:auto;
	padding-right:0.5em;
	padding-left: 0.5em;
}

// - FUNCTIONS ------------------------

@mixin btn--primary{}
@mixin btn--secondary{}
@mixin btn--tertiary{}


@mixin btn--positive{
	background-color:#4A993E;
	color:#fff;
}

@mixin btn--negative{
	background-color:#b33630;
	color:#fff;
}

@mixin btn--inactive{
	&:hover,
	&:active,
	&:focus{
		background-color:#ddd;
		color:#777;
		cursor:default;
		box-shadow:none;
	}
}

// - STYLES ---------------------------


@mixin btn--soft{
	border-radius:5em;
}

@mixin btn--hard{
	border-radius:0;
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
////////////////////////	Added by Doidge
////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

$button-vars:(
radius: 10px,
small-pad: 0.75em 1.1em,
normal-pad: 1.3em 2em,
large-pad: 1em 2.5em,
);

@mixin button-basics{
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin: 0 0 rem(30) 0;
	font-weight: 500;
	line-height: 1;
	//white-space: nowrap;
	border: none;
	@include transition (all, 0.3s, ease-in-out);
}

@mixin buttonSize($size: normal){
	@if $size == normal{
		padding: map-get($button-vars, normal-pad);
	}
	@if $size == small{
		padding: map-get($button-vars, small-pad);
	}
	@if $size == large{
		padding: map-get($button-vars, large-pad);
		font-size: rem(20);
	}
}

@mixin buttonColor($bg-color: $comp-color, $font-color: $white, $type: solid){

	@if $type == solid {
		background-color: $bg-color;
		@include contrasted($bg-color);
		@include contrasted($background-color: $bg-color);
		&:hover{
			background-color: shade($bg-color, 30%);
			box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
			text-decoration: none;
		}
		&:focus{
			background-color: shade($bg-color, 30%);
			box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
			text-decoration: none;
		}

		&:active{
			background-color: darken($bg-color, 5%);
			box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.7);
			text-decoration: none;
		}
	}
	@if $type == border {
		background-color: transparent;
		border: 2px solid $bg-color;

		&:link, &:visited{
			color: $bg-color;
		}

		&:hover{
			@include contrasted($background-color: $bg-color);
		}

		&:active{
			border:2px solid darken($bg-color, 60%);
		}
	}
}

@mixin borderRadius($radius) {
	@include border-radius($radius);
}


a.btn, button.btn{

	&--large{
		@include buttonSize($size: large);
		@include button-basics;
		@include borderRadius(10px);
	}

	&--normal{
		@include buttonSize($size: normal);
		@include button-basics;
		@include borderRadius(10px);
	}

	&--small{
		@include buttonSize($size: small);
		@include button-basics;
		@include borderRadius(10px);
	}

	&.fw{
		width: 100%;
	}
}

// .btn--dblue{
// 	@include buttonColor($bg-color: $dblue, $font-color: $white, $type: solid);
// 	color: $white;
// 	border: 0;
// 	@include box-shadow(-2px 2px 0px shade($dblue, 25));
//
// 	&:focus,
// 	&:hover{
// 		@include box-shadow(-2px 2px 0px shade($dblue, 25));
// 	}
// }
