////////////////////////////////////////////////////////////////
///////////////////// Version 2.0 //////////////////////////////
////////////////////////////////////////////////////////////////
//Usage —
// items per row // gutter  // selector
// @include list-grid(3, 25, ".item");
////////////////////////////////////////////////////////////////

@mixin list-grid($per-row, $spacing, $selector){
    margin: 0 em(-$spacing/2);
    @include clearfix;
    font-size: 0.1px; //ditch white-space created (0 breaks in IE)

	> #{$selector} {
        width: 100%/$per-row;
        font-size: 16px;
      	position: relative;
        padding: 0 em($spacing/2) em($spacing) em($spacing/2);
        display: inline-block;
        vertical-align: top;
        background-clip: content-box;
    }
}
